
body {
    width:960px;
    margin: auto;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;

}

.nav-link {
    color: white;
}

.navbar {
    background-color: dodgerblue;
}

.jumbotron {
    margin-top: 20px;
    background-color: rgb(169, 183, 197);
}

.jumbotron-fluid {
    background-color: dodgerblue;
}

.jumbotron-fluid h1 {
    color:white;
}

.comments {
    background-color: orange;
    color: white;
    
    padding: 3px;
}

#languages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
}

.card {
    margin: 10px;
}


@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }


  }
